{% extends 'layout.html.twig' %}

{% block contents %}
    <div class="col-md-12 well">
        <h2 class="text-center">{{ book.titre }} </h2><br>
        {% if book.image %}
            <img class="image" src="{{ app.request.basepath }}/uploads/{{ book.image }}.jpg" />
        {% endif %}
        <p class="">{{ book.synopsis }} </p><br>
        <em>{{ book.auteur }}</em>
        <br>
        <br>
    </div>
    <div class="col-md-12 well">
        {% if copies|length == 0 %}
            <h4>Aucun exemplaire n'est disponible</h4><br>
        {% else %}
            {% if copies|length == 1 %}
                <h4>Il y a {{ copies|length }} exemplaire disponible !</h4><br>
            {% else %}
                <h4>Il y a {{ copies|length }} exemplaires disponible !</h4><br>
            {% endif %}

            <ul class="list-group">
                {% for copie in copies %}
                    <li class="list-group-item">Exemplaire n° {{ copie.id }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
